---
layout: default
---

<section id='slider'>
   <div class='container slide-container vertical-middle'>
      <div class='slide-item active-slide'>
         <div class='text'>
            <h1 class='title'>Dream High, Reach High</h1>
            <p>alienum recteque cotidieque vix ei.</p>
            <p>error vitae equidem per, pro eu.</p>
            <p>paulo antiopam. Est stet tollit, eripuit.</p>
         </div>
         <h1 class='cta'>Join Us Now</h1>         
      </div>
      <div class='slide-item'>
         <div class='text'>
            <h1 class='title'>Dream High, Reach High 2</h1>
            <p>alienum recteque cotidieque vix ei.</p>
            <p>error vitae equidem per, pro eu.</p>
            <p>paulo antiopam. Est stet tollit, eripuit.</p>
         </div>
         <h1 class='cta'>Join Us Now</h1>         
      </div>
      <div class='slide-item'>
         <div class='text'>
            <h1 class='title'>Dream High, Reach High 3</h1>
            <p>alienum recteque cotidieque vix ei.</p>
            <p>error vitae equidem per, pro eu.</p>
            <p>paulo antiopam. Est stet tollit, eripuit.</p>
         </div>
         <h1 class='cta'>Join Us Now</h1>         
      </div>
      <div class='slide-item'>
         <div class='text'>
            <h1 class='title'>Dream High, Reach High 4</h1>
            <p>alienum recteque cotidieque vix ei.</p>
            <p>error vitae equidem per, pro eu.</p>
            <p>paulo antiopam. Est stet tollit, eripuit.</p>
         </div>
         <h1 class='cta'>Join Us Now</h1>         
      </div>
   </div>
   
   <div class='controls-container controls-fixed'>
      <div class='prev'></div>
      
      <div class='thumb-container'>
         <div class='thumb-item active-thumb'></div>
         <div class='thumb-item'></div>
         <div class='thumb-item'></div>
         <div class='thumb-item'></div>   
      </div>
      
      <div class='next'></div>
   </div>
</section>

<section id='advantage'>
   <div class='container advantage-container'>
      <h1 class='title'>our community advantage</h1>
      
      <div class='advantage-flex'>
         <div class='flex-item'>
            <div class='img'>
               {% include icons/clock.html %}
            </div>
            <div class='text'>
               <strong class='sub-title'>years of experience</strong>
               <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
            </div>
         </div>
         <div class='flex-item'>
            <div class='img'>
               {% include icons/bell.html %}
            </div>
            <div class='text'>
               <strong class='sub-title'>years of experience</strong>
               <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex </p>
            </div>
         </div>
         <div class='flex-item'>
            <div class='img'>
               {% include icons/staff.html %}
            </div>
            <div class='text'>
               <strong class='sub-title'>years of experience</strong>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, quis nostrud exercitation ullamco laboris nisi ut aliquip ex </p>
            </div>
         </div>
         <div class='flex-item'>
            <div class='img'>
               {% include icons/shield.html %}
            </div>
            <div class='text'>
               <strong class='sub-title'>years of experience</strong>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ut aliquip ex </p>
            </div>
         </div>
      </div> 
   </div>
</section>

<section id='vis-mis'>
   <div class='container vis-mis-container'>
      <div class='vis-mis-flex'>
         <div class='flex-item'>
            <h1 class='title'>mission</h1>
            <p class='blurb'>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas. </p>
         </div>      
         <div class='flex-item'>
            <h1 class='title'>vission</h1>
            <p class='blurb'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ut aliquip exoccaecati cupiditate non  </p>
         </div>      
      </div> 
   </div>
</section>

<section id='notify'>
   <div class='container notify-container'>
      <div class='notify-flex'>
         <div class='flex-item notify'>
            <h1 class='title'>GET NOTIFIED ON ANY UPDATES</h1>
            <p class='blurb'>Pri tempor epicuri cu, tota audire eam ad, vero indoctum his eu. In probatus accusamus eos, mei delectus tractatos no, graece gloriatur dissentias ea pri. Wisi verear elaboraret id eos, ut eam epicuri perfecto, </p>
            
            <form method='post' action='https://formspree.io/'>
               <fieldset>
                  <label class='customer-email'>
                     <input type='email' name='_notifyto'>
                     <a href=''>get notify</a>
                  </label>
               </fieldset>
            </form>
         </div>
         
         <div class='flex-item video'>
            <iframe src="https://www.youtube.com/embed/mZb_gat5YCY" frameborder="0" allowfullscreen></iframe>         
         </div>         
      </div>
   
   </div>
</section>