<footer id='footer'>
   <div class='container footer-container'>
      <div class='footer-flex'>
         <div class='flex-item services'>
            <h3 class='widget-title'>services</h3>
            <ul class='ul-flex'>
               <li><a href='#'>Soleat tincidunt. </a></li>
               <li><a href='#'>Vitae appareat scriptorem </a></li>
               <li><a href='#'>Qui ea, eu electram </a></li>
               <li><a href='#'>Comprehensam mei, </a></li>
               <li><a href='#'>Bel cu menandri </a></li>
               <li><a href='#'>Constituto. Eos id similique </a></li>
               <li><a href='#'>scribentur</a></li>
               <li><a href='#'>Eos tota </a></li>
               <li><a href='#'>Soleat tincidunt. </a></li>
               <li><a href='#'>Vitae appareat scriptorem </a></li>
               <li><a href='#'>Qui ea, eu electram </a></li>
               <li><a href='#'>Comprehensam mei, </a></li>
               <li><a href='#'>Bel cu menandri </a></li>
               <li><a href='#'>Constituto. Eos id similique </a></li>
               <li><a href='#'>scribentur</a></li>
               <li><a href='#'>Eos tota </a></li>
            </ul>
         </div>
         
         <div class='flex-item others-flex'>         
            <div class='flex-item location'>
               <h3 class='widget-title'>location</h3>
               <p class='blurb'>
                  Loving Angel Community<br/ >
                  My Street 1215<br/ >
                  Houston Texas 77057<br/ >
                  USA<br/ >
                  <br/ >
                  Hours: 8am - 8pm (Daily)<br/ >
                  Mobile No.: <a href='tel:{{site.data.settings.phone}}'>{{site.data.settings.phone}}</a><br/ >
                  Email: <a href='mailto:{{site.data.settings.email}}'>{{site.data.settings.email}}</a><br/ >
               </p>
            </div>

            <div class='flex-item about'>
               <h3 class='widget-title'>about</h3>
               <ul class='ul-flex'>
                  <li><a href='#'>About Us</a></li>
                  <li><a href='#'>Mission</a></li>
                  <li><a href='#'>Vission</a></li>
                  <li><a href='#'>Service</a></li>
                  <li><a href='#'>Support</a></li>
                  <li><a href='#'>Love Nature</a></li>
               </ul>
            </div>

            <div class='flex-item follow'>
               <h3 class='widget-title'>follow us on</h3>
               {% for fb in site.data.settings.social %}{% if fb.name == 'facebook' %}<a class='svg-wrapper' href='{{fb.link}}' target='_blank'>{% include icons/fb.html %}</a>{% endif %}{% endfor %}
               <a class='svg-wrapper' href='#'>{% include icons/insta.html %}</a>
               <a class='svg-wrapper' href='#'>{% include icons/twit.html %}</a>
            </div>
         
         </div>      
      </div>   
      <div class='footer-copyright'>
         <span class='smaller'>© Copyright 2017 <a href='{{site.url}}'>{{site.data.settings.title}}</a> . Designed by <a href='/'>{{site.data.settings.author}}</a></span>
      </div>
   </div>
</footer>
<script src='{{site.baseurl}}/assets/js/jquery-3.1.1.min.js'></script>
<script src='{{site.baseurl}}/assets/js/functions.js'></script>
</body>
</html>