<!DOCTYPE html>
<html lang='en'>
<head>
   <meta charset='utf-8'>
   <title>Loving Angel</title>
   <meta name='description' content='Loving Angel Community'>
   <meta name='keywords' content='Loving Angel Keywords'>
   <meta name='author' content='AEDesign'>
   <meta name='dcterms.rightHolder' content='loving-angel.com'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <link rel='canonical' href='loving-angel.com'>
   <link rel='stylesheet' href='{{site.baseurl}}/assets/css/main.css' type='text/css'>
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Khand:300,400'>
   <link rel='shortcut icon' href='{{site.baseurl}}/favicon.ico'>   
</head>
<body>
<header id='header'>
   
   <section class='top'>
      <div class='container'>
         <div class='top-flex'>
            <div class='social'>
               <a class='social-item' href='/'>
                  {% include icons/fb.html %}
               </a>
               <a class='social-item' href='/'>
                  {% include icons/insta.html %}
               </a>
               <a class='social-item' href='/'>
                  {% include icons/twit.html %}
               </a>
            </div>
            <h4 class='email'>email us now: <span>{{site.data.settings.email}}</span></h4>         
            <h4 class='mobile'>call us now: <span>{{site.data.settings.mobile.smart}}</span></h4>
         </div>  
      </div>   
   </section> 

   <nav class='bottom'>
      <div class='container'>
         <div class='bottom-flex'>
            <div class='banner'>
            </div>

            <div class='nav-menu-flex'>
               <a class='nav-item home' href='/'>home</a>
               <a class='nav-item' href='/'>service</a>
               <a class='nav-item' href='/'>support</a>
               <a class='nav-item' href='/'>love nature</a>
            </div>
         </div>
      </div>
   </nav>  
   
</header>