a
   font-size: 16px
   font-size: 1rem
   color: $color-alt
   text-decoration: none
   cursor: pointer
   font-weight: 300
   
.nav-item
   font:
      size: 25px
      size: 1.38rem
   text-transform: uppercase